
/* global css*/
html{
    font-size: 12px;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

.lead{
    font-size: 1.2em;
}
.content-container {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
}

footer {
    height: 60px;
    margin-top: 100px;
}

/* index.html css*/
.index_card{
    border:none;
}
.index_text{
    min-height: 8em;
}

.index_btn_card{
    width:10em;
}

.calendar{
    height: 50px;
    width:50px;
}

.profil{
    height: 200px;
    width:200px;
}

.row-login-form {
    margin-top: 50px;
}

.navbar {
    padding: 0;
    min-height: 55px;
}
.navbar-nav .nav-link {
    padding: 14px 0!important;
    margin: 0 10px;
}
.navbar-nav .nav-link.active {
    color: #007bff;
    border-bottom: 3px solid #007bff;
}
.jumbotron {
    border-radius: 0;
}

@media (min-width:768px){
    html{
        font-size:16px;
    }
}
@media (max-width:992px){
    .navbar-nav .nav-link.active {
        border-bottom: 0;
        border-left: 3px solid #007bff;
    }
    .navbar-nav .nav-link {
        padding: 0 20px!important;
        margin: 6px 2px ;
    }
}